@import vars
@import mixins 

@mixin button
	color: black
	display: inline-block
	border: 1px solid black
	background: white
	text-decoration: none
	padding: 5px
	+user-select
	+border-radius(3px)

@mixin button-hover
	background: $off-white

@mixin button-active
	background: darken(#ccc, 10%)

// actual element

a.button
	+button
	&:hover
		+button-hover
	&:active 
		+button-active
	&:visited
		@extend a.button
	@each $key, $value in $color-map
		&.#{$key}
			color: white
			background: $value
			border: 2px solid $value
			&.hover
				background: darken($value, 10%)
				border: 2px solid darken($value, 10%)
			&.active
				background: darken($value, 15%)
				border: 2px solid darken($value, 15%)


input[type=button], input[type=submit], button
	&.button
		@extend a.button
		cursor: pointer
		outline: none
